@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Zen+Dots&display=swap");

:root {
  --background-color: #f6f7f9;
  --text-color: #22242f;
  --primary-color: #15368a;
  --secondary-color: #f89a06;
  --base-color: #efefef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: inter;
  color: var(--text-color);
}

body {
  padding: 1em;
  background-color: var(--background-color);
}

h1,
h2,
h3 {
  font-family: inter;
}

nav {
  margin: 1em auto 3em auto;
  width: min(1000px, 100%);
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2em;
}

nav li:first-child {
  margin-right: auto;
  font-family: inter;
  font-weight: 700;
  color: var(--primary-color);
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

nav a:hover {
  font-weight: 700;
  text-decoration: underline;
}

header,
section {
  margin: 2em auto;
  width: min(75em, 100%);
  background-color: var(--base-color);
  padding: min(1em, 100%);
  border-radius: 1em;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5em;
}

header img {
  max-width: 100%;
  border-radius: 0.5em;
  object-fit: cover;
  object-position: top;
}

.text-container {
  flex: 0 1 30em;
  gap: 16px;
}

.text-container h1 {
  margin-bottom: 1em;
}
.text-container p {
  margin-bottom: 2em;
}

h1 {
  font-size: 2.5rem;
}

.text-container {
  margin: 1em 0 1em 0;
  font-size: 1rem;
  gap: 1em;
}

.cta-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  padding: 0.75em 1.25em;
  border-radius: 0.5em;
  font-weight: 600;
}

.secondary-button {
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  padding: 0.75em 1.25em;
  border-radius: 0.5em;
  font-weight: 600;
}

section {
  padding: 3em min(2em, 15%);
  background-color: var(--base-color);
  text-align: left;
}

h2 {
  font-size: 2rem;
}

section p {
  margin-top: 1em;
  font-size: 1rem;
}

section img {
  border-radius: 1em;
}

section#my-work {
  background-color: var(--base-color);
}

.grid-container {
  margin-top: 3em;
  margin-bottom: 3em;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "img-1 img-2"
    "img-3 img-4";
  gap: 1em;
}

.grid-container img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5em;
  transition: 200ms ease;
}

.grid-container img:hover {
  scale: 1.05;
}

details {
  margin-top: 1em;
  background-color: var(--background-color);
  border-radius: 1em;
}

details summary {
  padding: 1em;
  font-size: 1.4rem;
}

.FAQ {
  text-align: center;
}
details p {
  padding: 0 2em 2em 2em;
}

footer {
  padding-bottom: 1.5em;
  text-align: center;
}

footer a {
  margin: 0 1em;
  text-decoration: none;
  color: var(--text-color);
}

footer a:hover {
  text-decoration: underline;
  font-weight: 700;
}

@media (max-width: 988px) {
  header {
    text-align: center;
  }
  header .text-container {
    padding-top: 0;
  }
}

@media (max-width: 640px) {
  nav li {
    display: none;
  }
  nav li:first-child,
  nav li:last-child {
    display: block;
  }

  header {
    margin-top: 0;
  }
  .cta-button {
    margin-top: 0.5em;
    width: 100%;
  }
  .secondary-button {
    margin-top: 0.5em;
    width: 100%;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .text-container p {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
